/* Post Button Design */
input[type="submit" i]{
border-color: #00acee;
background-color: #00acee;
border-radius: 20px;
padding:5px 15px 5px 15px;
color: #FFFFFF;
}

input[type="submit" i]:hover{
background-color: #0095d6;
border-color: #0095d6;
}

/* Refresh Button Design */
button{
border-color: #6A5ACD;
background-color: #6A5ACD;
border-radius: 20px;
padding:5px 15px 5px 15px;
color: #FFFFFF;
}

/* Textarea Design */
textarea{
font-size:17px;
margin: 0px 0px 20px 0px;
padding:17px 15px 17px 15px;
border-radius: 20px;
}
