/* Font Change */
body{
  font-family: "Yu Gothic","Hiragino Sans";
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .container > .center {
    flex: 700px;
  }
  
  .container > .left, .right {
    flex: 0px;
  }
  
  .to-right {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
  /* Sign-in form */
  form[name=signin] {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
  }
  form[name=signin] > input, label {
    width: 30em;
  }
  
  form[name=signin] > input[type="submit" i] {
    border-color: #00acee;
    background-color: #00acee;
    border-radius: 20px;
    padding:5px 15px 5px 15px;
    color: #FFFFFF;
  }
  
  /* post message form */
  form[name=post] {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Post Button Design */
  form[name=post] input[type="submit" i]{
  width: 10em;
  border-color: #00acee;
  background-color: #00acee;
  border-radius: 20px;
  padding:8px 15px 8px 25px;
  color: #FFFFFF;
  cursor: pointer;
  }

  
  form[name=post] input[type="submit" i]:hover{
  background-color: #0095d6;
  border-color: #0095d6;
  }

input.submit-post{
    background-image: url("https://raw.githubusercontent.com/akanoren/redsky/main/static/css/post5.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 39px center;
}
  
  /* Textarea Design */
  form[name=post] > textarea{
  width: 100%;
  height: 100px;
  font-size:17px;
  margin: 0px 0px 20px 0px;
  padding:17px 15px 37px 15px;
  border-radius: 20px;
  }
  
  /* Timeline messages */
  .timeline {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
  }
  
  /* Refresh Button Design */
  .refresh-button {
    width: 8em;
    border-color: #6A5ACD;
    background-color: #6A5ACD;
    border-radius: 20px;
    padding:8px 15px 8px 29px;
    color: #FFFFFF;
    cursor: pointer;
    background-image: url("https://raw.githubusercontent.com/akanoren/redsky/main/static/css/refresh2.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: left 10px center;
  }
  
  .post {
    width: 100%;
    border-top-style: solid;
    border-color: #DDDDDD;
    border-top-width: 1px;
    padding: 0.5em;
  }
  
  .post > .avatar > img{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    float: left;
  }
  
  .post > .name {
    margin-bottom: 0.5em;
    font-weight: bold;
    margin-left: 69px;
  }

  .post > .message {
    margin-left: 4em;
    word-wrap: break-word;
    width: 500px;
    font-size:17px;
  }

span.time{
    font-family:"Arial";
    font-weight: normal;
    font-style: italic;
}

/* Tablet (min-width: 768px) Design */
@media screen and (min-width: 768px) and ( max-width:1100px){
    .post > .message{
        overflow-wrap: break-word;
        word-wrap: break-word;
        width:920px;
        font-size: 18px;
    }
    
}

/*Smartphone (max-width: 480px) Design */
@media screen and (max-width: 480px) {
    body{
        width: 100%;
        max-width: 480px;
    }
    .post > .message{
　　　overflow-wrap: break-word;
　　　word-wrap: break-word;
        width: 1280px;
        font-size: 50px;
        padding-left: 40px;
    }
    .post{
        font-size: 60px;
        word-wrap: break-word;
    }
    
    
    input.submit-post{
    background-image: url("https://raw.githubusercontent.com/akanoren/redsky/main/static/css/post5.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: left 39px center;
    }
    
    form[name=post] input[type="submit" i]{
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 300px;
    font-size: 0;
        position: fixed;
        z-index: 10000;
        margin-left: -20px;
    }
    
    .refresh-button{
    background-image: url("https://raw.githubusercontent.com/akanoren/redsky/main/static/css/refresh2.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 50px;
    font-size: 0;
    position: fixed;
    z-index: 10000;
    margin: 0px 0px 0px -20px;
    }
    
    .timeline{
        margin: 600px 0px 0px 0px;
    }
    
    form[name=post] > textarea{
        width: 100%;
        max-width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 10px 10px 300px 10px;
        font-size: 70px;
        border-width: 2px;
        border-radius: 20px;
        position: fixed;
        z-index: 10000;
    }
    
}

/* iPhone SE (max-width: 375px) Design */
@media screen and (max-width: 375px){
    body{
        width: 100%;
        max-width: 480px;
    }
    .post > .message{
　　　overflow-wrap: break-word;
　　　word-wrap: break-word;
      width: 980px;
      font-size: 50px;
    }
    
    
    .post > .name{
        position: relative;
        left: 54px;
    }
    
    div.name{
        margin: 0px 0px 0px 15px;
    }
    
    .post{
        font-size: 60px;
        word-wrap: break-word;
    }
    
    input.submit-post{
    background-image: url("https://raw.githubusercontent.com/akanoren/redsky/main/static/css/post5.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: left 39px center;
    }
    
    form[name=post] input[type="submit" i]{
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    font-size: 0;
        position: fixed;
        top: 400px;
        z-index: 10000;
        margin-left: -20px;
    }
    
    .refresh-button{
    background-image: url("https://raw.githubusercontent.com/akanoren/redsky/main/static/css/refresh2.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    font-size: 0;
    position: fixed;
    top: 400px;
    z-index: 10000;
    margin: 0px 0px 0px -20px;
    }
    
    .timeline{
        margin: 600px 0px 0px 0px;
    }
    
    form[name=post] > textarea{
        width: 100%;
        max-width: 100%;
        margin: 0px 0px 0px 20px;
        padding: 10px 10px 300px 10px;
        border-width: 2px;
        border-radius: 20px;
        position: fixed;
        z-index: 10000;
    }    
    
}


/*Smartphone (max-width: 320px) Design */
@media screen and (max-width: 320px) {
    body{
        width: 100%;
        max-width: 480px;
    }
    .post > .message{
　　　overflow-wrap: break-word;
　　　word-wrap: break-word;
      width: 980px;
      font-size: 50px;        
    }
    .post{
        font-size: 60px;
        word-wrap: break-word;
    }
    
    input.submit-post{
    background-image: url("https://raw.githubusercontent.com/akanoren/redsky/main/static/css/post5.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: left 39px center;
    }
    
    form[name=post] input[type="submit" i]{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 0;
        position: fixed;
        top: 400;
        z-index: 10000;
        margin-left: -20px;
    }
    
    .refresh-button{
    background-image: url("https://raw.githubusercontent.com/akanoren/redsky/main/static/css/refresh2.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 0;
    position: fixed;
        top: 400px;
        z-index: 10000;
        margin: 0px 0px 0px -20px;
    }
    
    .timeline{
        margin: 600px 0px 0px 0px;
    }
    
    form[name=post] > textarea{
        width: 100%;
        max-width: 100%;
        margin: 0px 0px 0px 20px;
        padding: 10px 10px 300px 10px;
        font-size: 70px;
        border-width: 2px;
        border-radius: 20px;
        position: fixed;
        z-index: 10000;
    }
}
